@import "tailwindcss";

@theme {
  --color-primary: rgb(48, 46, 46);
  --color-secondary: rgb(226, 226, 226);
  --color-tier-bg: rgb(77, 75, 75);

  /* Tier bg colors */
  --color-tier-1: rgb(255, 127, 128); /* Top Tier */
  --color-tier-2: rgb(255, 192, 127); /* High Tier */
  --color-tier-3: rgb(255, 223, 128); /* Mid Tier */
  --color-tier-4: rgb(255, 255, 127); /* Low Tier */
  --color-tier-5: rgb(191, 255, 127); /* Almost Worst Tier */
  --color-tier-6: rgb(127, 255, 127); /* Worst Tier */

  /* Tier hover bg colors */
  --color-tier-1-hover: rgb(225, 107, 108);
  --color-tier-2-hover: rgb(225, 172, 107);
  --color-tier-3-hover: rgb(225, 193, 108);
  --color-tier-4-hover: rgb(225, 225, 108);
  --color-tier-5-hover: rgb(171, 225, 108);
  --color-tier-6-hover: rgb(107, 225, 107);

  --color-gradient: linear-gradient(
    to right,
    var(--color-tier-1),
    var(--color-tier-2),
    var(--color-tier-3),
    var(--color-tier-4),
    var(--color-tier-5),
    var(--color-tier-6)
  );
}

body {
  @apply bg-primary text-secondary flex flex-col justify-center items-center;
}

.text-gradient {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
